* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #646464;
    color: #ffffff;
    font-family: Arial, Sans-serif;
}

header {
    background-color: #655ce4;
    text-align: center;
    color:white;
    padding: 10px 30px 10px 5px;
}

main section{
    background-color: #921414;
    border-radius: 20px;
    width: 80%;
    margin: 30px auto;
    padding: 20px;
}

footer {
    background-color: rgb(80, 80, 80);
    margin-top: 90px;
    text-align: center;
}

img{
    width: 40%;
}

